*{
  box-sizing: border-box;
}

body {
  background-color: #1A2748;
  color: white;
}

/* #partial-user{
  display: none;
}

#partial-computer{
  display: none;

} */

.__partial-score{
  display: none;
}

#winner-banner{
  display: none;
}